# Binary
/simpleca
/simpleca-*
/simpleca_*
/simpleca.exe
/simpleca.exe.manifest
*.exe

# Builder
/.makerc

*.o
*.out
*.syso
*.key
*.csr
*.crt
*.conf
key.pem
cert.pem
.vscode/

# OS specific
versioninfo.rc 
main_darwin.go
main_linux.go
main_windows.go
resource.syso
